<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.e_pic" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.permission.MAPS_RECEIVE"/>

    <permission
        android:name="com.example.administrator.e_pic.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.administrator.e_pic.permission.C2D_MESSAGE" />
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FirstActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".iSneezeActivity"
            android:label="@string/title_activity_i_sneeze" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".SneezeListActivity"
            android:label="@string/title_activity_sneeze_list" >
        </activity>
        <activity
            android:name=".SearchFriendActivity"
            android:label="@string/title_activity_add_friend" >
        </activity>
        <activity
            android:name=".FriendRequestsActivity"
            android:label="@string/title_activity_friend_requests" >
        </activity>
        <activity
            android:name=".SneezeOverviewActivity"
            android:label="@string/title_activity_sneeze_overview" >
        </activity>
        <activity
            android:name=".MyFriendsActivity"
            android:label="@string/title_activity_get_friends_list" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".RealMainActivity"
            android:label="@string/title_activity_real_main"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.administrator.e_pic" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" >
        </service>

        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
